 body {
      background: #fffef7;
      padding: 30px;
      margin: 0;
    }

    #logotext {
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 25px 40px;
      background: linear-gradient(135deg, #FBEAD6 0%, #F0C4CB 100%);
      border-radius: 25px;
      box-shadow: 0 8px 20px rgba(200, 125, 135, 0.3);
    }

    .imagen {
      width: 120px;
      height: 120px;
      border-radius: 50%; /* <- ESTO hace el círculo */
      object-fit: cover;
      border: 5px solid white;
    }

    #TITULP {
      font-size: 70px;
      background: linear-gradient(45deg, #E864B5, #C87D87); /* degradado */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      letter-spacing: 3px;
    }

    .menu {
      display: flex;
      gap: 20px;
      list-style: none;
      margin-left: auto;
      padding: 0;
    }

    .menu a {
      text-decoration: none; /* quita azul */
      color: #6B7556; /* verde Dried Thyme */
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px; /* letras separadas */
      background: white;
      padding: 12px 20px;
      border-radius: 30px;
    }

    .menu a:hover {
      color: #E864B5;
      background: #FBEAD6;
    }

    section h2 {
        color: #d43570;
        font-size: 38px;
        font-family: 'Georgia', serif;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
        font-weight: 400;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    section h3 {
        color: #e05389;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 50p;
        opacity: 0.8;
    }

    section p {
        color: #555;
        font-size: 16px;
        line-height: 1.8;
        max-width: 800px;
        margin: 0 auto 20px auto;
        text-align: justify;
        padding: 0 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .galeria img {
        display: block;
        width: 20%;
        margin: 40px auto;
        height: 300px;
        object-fit: cover;
        border-radius: 50px;
        border-radius: 25px;
        border: 4px solid #f790af;
        padding: 8px;
        background: white;
        box-shadow: 0 15px 35px rgba(231, 84, 128, 0.25);
        transition: transform 0.3s ease;
    }

    .galeria img :hover {
        transform: scale(1.03);
    }
